.hero {
    position: relative;
    width: 100%;
    height: 97vh;

    overflow: hidden;

    .hero-media {
        z-index: 0;

        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;
        display: flex;
        justify-content: center;
        align-items: start;

        .hero-media-champ {
            position: absolute;
            bottom: 5rem;left: 0;right: 0;

            .hero-media-champ-img {
                width: 100%;
                height: auto;
            }
        }

        .hero-media-img {
            height: 100%;
        }

        .hero-media-filter {
            z-index: 2;
            position: absolute;
            left: 0;right: 0;bottom: 0;top: -15rem;

            background: var(--dark-radial-gradiant);
        }
    }

    .hero-content {
        position: relative;
        z-index: 1;

        color: var(--white);
        text-shadow: var(--shadow);     

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        padding-bottom: 6rem;

        .arrow-down {
            position: absolute;
            bottom: 3rem;left: 0;right: 0;
            text-align: center;
            animation: arrow-down-anim 3s 1s infinite ease-in-out;
        }
    }

    .mid {
        justify-content: center !important;
    }

}

@media screen and (min-width: 1440px) {
    .hero {
        width: 100%;
        .hero-media .hero-media-img {
            width: 100%;
            height: auto;
        }

        .hero-content {
            justify-content: center;
            padding: 0;
        }
    }
}

@keyframes arrow-down-anim {
    0% {
        bottom: 3rem;
    }
    50% {
        bottom: 2rem;
    }
    100% {
        bottom: 3rem;
    }
}