.items-tier-container {
    margin-bottom: 3rem;

    .item-list {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}