:root {
  --black: #333;
  --white: #ddd;

  --primary-color: var(--black);
}

.wrapper {
  width: 90dvw;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
}