.footer {
    background: var(--gray-500);
    padding: 16px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    margin-top: 80px;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 3rem;
}

.line {
    border-bottom: 1px solid #888;
    width: 80%;
    margin: 1rem 0;
}

.footer .link {
    padding: 8px 16px;
}

.footerText {
    margin: 3rem 0;

    a {display: inline;text-decoration: underline;}
}