.champList {
    position: relative;
    padding-bottom: 2.5rem;

    .champList-content {
        margin-top: -10rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}